.node {
    background-color: white;
    padding: 15px;
    border: 1px #f0f0f0 solid;
    border-radius: 10px;

    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.075);
}
.node:focus{
    border: 1px #1e31db solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    .react-flow__handle{
        transform: scale(1.2) translate(-0%, -45%);
    } 
}
.node:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    .HandleComponent {
        transform: scale(1.8) translate(-0%, -25%);
    }
}
.HandleComponent {
    background: #1e31db;

}
.react-flow__handle {
    background-color: #1e31db !important;
    transition: scale .1s ease; 
}
.parametrNode {
    background-color: white;
    padding: 15px;
    border: 1px black solid;
    border-radius: 10px;

    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 400px;
    width: 400px;

}

.addButton {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    color: #ffffff;
    justify-content: center;
    padding: 5px 5px;
    font-size: 12px;

    background-color: rgb(46, 77, 161);
    border-radius: 20px;
}

header {
    font-size: 8px;
    color: grey;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    justify-content: stretch;
}


.header-name {
    width: 180px;
}

.header-type {
    width: 80px;
}

.header-value {
    width: 50px;

}

.parameter {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.parametrs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.parameter_name{
    width: 180px;
}

.parameter_name input{
    font-size: 12px;
    width: 80%;
    height: 12px;
}
.type_value{
    display: flex;
    justify-content: left;
    width: 210px;
}
.type_value input{
    font-size: 12px;
    width: 120px;
    height: 12px; 
}
.type_value select {
    font-size: 12px;
}
.delete_button{
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.delete_img{
stroke:gray;
  width: 100%;
  height: auto;
}
