.component-Function-Block {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    z-index: 110;
    width: auto;
    height: auto;
    background-color: #3aafa9;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;

}

.component-Function-Block .HandleComponent {
    border: 2px solid purple;
    border-radius: 10% !important;
    width: 16px !important;
    height: 30px !important;
    overflow: hidden;
    /* Обрезаем градиент внутри элемента */
    background-color: #555;
    animation: colorAnimation 1s linear infinite alternate;
    /* Анимация цвета */
}

@keyframes colorAnimation {
    0% {
        background-color: #00009b;
    }

    100% {
        background-color: rgb(246, 255, 0);
    }
}

.component-Function-Block .HandleComponent:hover {
    transform: scale(1.3) translate(-0%, -40%);
    /* Дополнительное преобразование при наведении */
    animation: none;
    /* Отключаем анимацию при наведении */
    background-color: red;
    /* Цвет фона при наведении */
}


.component-Function-Block p {
    text-align: left;
}

.component-Function-Block .block-Header {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    width: 90%;
    padding: 10px;
    background-color: #3aafa9;
    color: white;
    border-radius: 10px 10px 0 0;
}

.parameters-Box {
    width: 90%;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    margin-top: -1px;
}

.parameters-Box table {
    width: 100%;
}

.parameters-Box thead {
    background-color: rgb(234, 238, 243);
    width: 100%;
}

.parameters-Box table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-Parameters {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.table-Parameters th,
.table-Parameters td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
}

.custom-select {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.custom-select select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-select select:focus {
    outline: none;
}

.custom-select select option {
    background-color: #fff;
    color: #333;
    padding: 10px;
}

.custom-select select option:hover {
    background-color: #e0e0e0;
}

/* .custom-select::after {
    content: '\25BC';
    position: absolute;
    top: calc(50% - 5px); 
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666; 
} */