
.panelDiv{
 
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100vh;
  
  transition: transform 0.3s ease;
  z-index: 5;
  pointer-events: none;
}
.panel{
  pointer-events:all;
  width: 350px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.content{
  height: calc(1020px );
  overflow-y: hidden;
  font-size: 14px;
  padding: 20px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  

}
.panelHeader{
  display: flex;
  gap:20px;
  flex-direction: row;
}
.section{
  cursor: pointer;
}
.section p{
  color: rgb(163, 163, 163);
}
.section p:hover{
  color: rgb(63, 63, 63);
}
.active p{
  color: rgb(0, 0, 0);
}

.hidden {
  transform: translateX(calc(-100% + 40px));
}
.visible{
  transform: translateX(0px);
}
.toggle-button {
  pointer-events: all;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 0 50% 50% 0;
  box-shadow: 0px 6px 8px 0px rgba(29, 28, 35, 0.1);
  border: none;
  cursor: pointer;
}

.svg {
  
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.hiddenButton {
  transform: scaleX(1);
}
.visibleButton{
  transform: scaleX(-1);
}

.component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:10px;
  align-items: center;
  margin-top: 25px;
  font-size: 14px;
  cursor: pointer;
}
.components{

  height: 1000px;
  overflow-y: scroll;
  

  padding-right: 20px;
  padding-bottom: 20px;
}
.functions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* overflow: hidden; */
  overflow-y: hidden;
  transition: height .4s ease; 
  
  height:calc(var(--function-height));

}
.function{

  font-size: 14px;
  cursor:grabbing;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  box-shadow: 0px 6px 8px 0px rgba(29, 28, 35, 0.15);
  margin-bottom: 10px;
}
.function:hover{
  box-shadow: 0px 6px 12px 0px rgba(29, 28, 35, 0.2);
}
.animateContent{
  animation-name: animateContent;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;
}
.animateFuctions{
  transform: translateY(0);
}

.info_svg{
  position: relative;
  width: 15px;
  height: 15px;
}


.compArrow{
  width: 15px;
  height: 15px;
}
.icons{
  gap:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hovered-message {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  position: absolute;
  min-width: 100px;
  max-width: 3000px;
  top: 150%; 
  left: -600%;
  color: #fff;
  background-color: rgb(155, 154, 163);
  border-radius: 10px;
  padding: 12px;
  z-index: 100;

}
@keyframes animateContent {
  0% {
    opacity: 0;
    transform: translate(-50%, 0px);
  }
  25% {
    opacity: 0.2; 

  }
  50% {
    opacity: 0.4; 

  }
  75% {
    opacity: 0.7; 

  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
