
.panelDiv{
 
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 20px;
  transition: transform 0.3s ease;
  z-index: 100;
}
.panel{
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.content{
  font-size: 14px;
  padding: 20px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.panelHeader{
  display: flex;
  gap:20px;
  flex-direction: row;
}
.section p{
  color: rgb(163, 163, 163);
}
.section p:hover{
  color: rgb(63, 63, 63);
}
.active p{
  color: rgb(0, 0, 0);
}

.hidden {
  transform: translateX(calc(-100% + 60px));
}
.visible{
  transform: translateX(0px);
}
.toggle-button {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.svg {
  
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
.hiddenButton {
  transform: scaleX(1);
}
.visibleButton{
  transform: scaleX(-1);
}

.component {
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
}

.functions{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
.function{
  font-size: 14px;
  cursor:grabbing;
  border-radius: 10px;
  padding: 20px;
  height: fit-content;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}